/* standart*/
body {
  margin: 0;
  background-color: #f2e8cf;
  font-family: system-ui, sans-serif;
}

.site-header {
  background-color: #386641;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 16px;
}

.site-title {
  color: #f2e8cf;
  font-size: 1.6rem;
}

/* small screen*/
@media (max-width: 600px) {
  .logo {
    height: 30px; /* smaller logo */
  }

  .site-title {
    font-size: 1.2rem; /* smaller text */
  }

  .site-header {
    height: 60px; /* optional: slightly smaller header */
    padding: 0 16px; /* reduce side padding a bit */
  }
}
