body {
  margin: 0;
  background-color: #f2e8cf;
  font-family: system-ui, sans-serif;
}

.site-header {
  background-color: #386641;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.logo {
  height: 40px;
  margin-right: 16px;
}

.site-title {
  color: #f2e8cf;
  font-size: 1.6rem;
}

